.article-section {
  padding-top: 150px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
  .image {
    display:block;
    width: 90%;
    height: 500px;
    border-radius: 50px;
    border: 2px solid white;
    margin: auto;
    overflow: hidden;
    transition: background-image 3000ms linear;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Lavandula_stoechas_.jpg/1280px-Lavandula_stoechas_.jpg);
  }

  .image:hover,
  .image:focus{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Lavandas_na_Serra_da_Bocaina.jpg/1280px-Lavandas_na_Serra_da_Bocaina.jpg);
  }

  .articleTitle{
    margin: 50px;
    font-size: 20px;
    font-size: 1.9em;

  }

.articleDescription {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 1.7em;
  text-align: justify;
}

.btn {
  margin-top: 10px;
  width: 100px;
  height: 50px;
  font-family: $secondary-font;
  font-size: 1.5em;
  background-color: $third-color;
  border-color: $main-color;
  border-radius: 5px;
  color: $main-color;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: $font-color;
  transition: all 5ms linear;
}